/* styles.css for choices game v1.0 */

.body {
  background-color: #D3D3d3;
}

.headerFQ,
.question  {
  Background-color: gray;
  font-size: 45px;
  font-weight: bold;
  font-family: "Helvetica";
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 1000px;
  border-width: 25px;
  border-style: inset;
  border-color: #63666A;
}
.content {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
  margin-left: 280px;
  margin-right: 280px;
  font-size: 20px;
  Background-color: #939799;
  border-style: inset;
  border-width: 8px;
  border-radius: 120px;
}

.startbutton,
.tut1,
.tut2,
.tut3,
.gr,
.or,
.rr {
  color: black;
  border-style: inset;
  border-width: 8px;
  margin: 3px;
  font-size: 25px;
  font-weight: bold;
  padding: 3px;
  border-radius: 200px;
  background-color: #d3d3d3;

}

.questionallign {
  text-align: center;
}

.gr{
  border-color: green;
}

.or{
  border-color: orange;
}

.rr{
  border-color: red;
}

.startbutton {
  background-color: lightblue;
  color: black;
  border-color: blue;
}

.question {
  padding: 20px;
}

.alarm {
  width: 85px;
  height: auto;
  text-align: center; 
}
